body,
* {
  padding: 0;
  margin: 0;
}

/* Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-notosans {
  font-family: "Noto Sans", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

/* For All */
a {
  margin-right: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #463610;
}

.links-bg-white,
.links-bg:hover,
.submit:hover {
  background-color: #fff;
  border-radius: 17px;
  padding: 7px 12px;
  color: #463610;
  border: 1px solid #463610;
}

.links-bg-white:hover,
.links-bg,
.submit {
  background-color: #463610;
  border-radius: 17px;
  padding: 7px 12px;
  color: #fff;
  border: 1px solid #463610;
}

hr {
  border: 0;
  height: 2px;
  background: black;
}

/* Table for All */
.borderless td,
.borderless th {
  border: none;
  padding: 20px;
}

#transaction th,
#book-crud th,
#cart th,
#transaction th {
  color: #000;
}
.table thead th {
  background-color: #f4f4f5;
  font-weight: 500;
  color: #5a6278;
  font-size: 14px;
}

.table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Navbar */
.navbar {
  height: 70px;
  background-color: #fff;
}
.navbar-user-info {
  display: flex;
  align-items: center;
}

.navbar-user-info .nav-link,
.navbar-user-info .links-bg {
  margin-left: 10px;
  margin-right: 10px;
}
/* End Navbar */

/* Hero */
#hero {
  padding-top: 70px;
  background-color: #f4f1ea;
}

#hero .container {
  height: 550px;
}

#hero h1 {
  font-size: 7vmin;
}

.hero-img {
  width: 100%;
  height: 400px;
}

form::placeholder {
  font-size: 12px;
}

#hero .disclaimer {
  border: 1px solid #463610;
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
}
/* End Hero */

/* Section 2 Description */
.disclaimer {
  border-radius: 20px;
  padding: 7px;
  background-color: #f4f1ea;
  color: #463610;
  font-weight: 600;
}

#desc h2 {
  color: #463610;
  font-size: 20px;
}

#desc i {
  color: #463610;
  font-size: 26px;
}
/* End Section 2 */

/* Books Section */
#popular-books .custom-card,
#best-seller .custom-card {
  width: 190px;
  height: 350px;
  margin: 20px;
  padding: 0;
}

#best-seller,
#best-seller .custom-card {
  background-color: #f4f1ea;
}
/* End Books Section */

/* Join Section */
#join .card {
  width: 50rem;
  height: 23rem;
  background-color: #f4f1ea;
}
/* End Join Section */

/* Footer */
footer {
  background-color: #f4f1ea;
  padding: 20px 0;
}

.img-get {
  width: 150px;
  height: auto;
}

footer .row {
  padding: 0 15px;
}

footer p {
  margin: 0;
}

footer i {
  color: #463610;
  font-size: 23px;
}

footer .fa-brands {
  margin: 0 10px;
}
/* End Footer */

/* Detail Page */
.sec-detail {
  background-color: #f4f1ea;
}

#detail h2 {
  font-size: 20px;
}

.detail-img {
  width: 50%;
  height: 100%;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
}

.mini-nav {
  color: #71613c;
}

.mini-nav:hover {
  color: #463610;
}

.dark-brown {
  color: #463610;
}

.medium-brown {
  color: #71613c;
}

.user-review {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* End Detail Page */

/* Product Page */

/* Carousel */
.product-carousel-img {
  width: 873px;
  height: 300px;
}

.carousel-indicators {
  justify-content: center;
}

.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  margin: 0 5px !important;
  border-radius: 100%;
  background-color: #fff !important;
}

/* Product List */
#catalogue .custom-card {
  width: 190px;
  height: 350px;
  margin: 20px;
  padding: 0;
}

.product-carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.custom-card img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}
/* End Product Page */

/* Transaction Page */
#transaction {
  padding-top: 50px;
  background-color: #f9f9f9;
}

#transaction .card {
  font-size: 14px;
  border-radius: 10px;
}

#transaction .book-cover {
  width: 50px;
  height: 70px;
  border-radius: 4px;
}

/* End Transaction Page */

/* Login */
#login {
  padding: 0;
}

#login h4 {
  font-weight: 900px;
}

.login-form-container {
  width: 80%;
}

.login #login .input {
  border: solid;
  border-width: 1px;
  border-color: #d7d7d7;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* #login img {
  width: 960px;
  height: 356px;
} */

#lp-link {
  text-decoration: underline;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
/* End Login */

/* start cart  */
.bg-dark-brown {
  background-color: #463610;
}

.bg-light-brown {
  background-color: #f4f1ea;
}

.links-co,
.links-co-white:hover {
  background-color: #fff;
  border-radius: 17px;
  padding: 7px 12px;
  color: #463610;
  border: 1px solid #fff;
}

.links-co:hover,
.links-co-white {
  background-color: #463610;
  border-radius: 17px;
  padding: 7px 12px;
  color: #fff;
  border: 1px solid #fff;
}

.modal-bg {
  background: linear-gradient(
    to bottom,
    #ece0c4 0%,
    #ece0c4 25%,
    #ffffff 75%,
    #ffffff 100%
  );
}

/* transaction admin*/

#transaction-admin a {
  text-decoration: none;
}

#transaction-admin .sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
}

#transaction-admin .sidebar-item {
  display: block;
  padding: 10px;
  margin: 5px;
}

/* Sebenernya ini untuk kalau page nya aktif */
#transaction-admin .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.container-img {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
/* End transaction admin*/

/* start book crud */
#book-crud a {
  text-decoration: none;
  color: #333;
}

#book-crud .sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

#book-crud .sidebar-item {
  display: block;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s;
}

#book-crud .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

#book-crud .col-10 {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 0 15px;
}
#book-crud .container-card {
  width: 100%;
  max-width: 100%;
}
/* end book crud */
